<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>ListaVip Curso</title>
	<link rel="stylesheet" href="/webjars/bootstrap/4.0.0-alpha/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="jumbotron" align="center" style="margin-top: 50px;">
			<h1>Bem vindo ao Curso Spring Boot (:-])</h1>
			<div align="center">
				<a href="listavip" class="btn btn-lg btn-primary">Clique aqui...</a>
			</div>
		</div>
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"/>
	<script src="/webjars/bootstrap/4.0.0-alpha/js/bootstrap.min.js"/>
</body>
</html>